<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="container">


        <form action="/login" class="form-box" method="POST">
             <div class="item logo">
                <h1>Coffee Heaven</h1>
                <img src="./images/logo.png" alt="">
             </div>
            <div class="item login">
                <h1>Login</h1>
            </div>
            <div class="item  grey inputs-field">
                <img src="./images/Email.png" alt="No image found">
                <input class="info" type="email" id="email" name="email" placeholder=' Enter your Email'>
            </div>
            <div class="item grey inputs-field">
                <img src="./images/lock.png" alt="No image found">
                <input class="info" type="password" id="password" name="password" placeholder="Confirm a Password ">
            </div>

            <div class="item message">
                <div>
                    <img src="./images/blank-check-box.png" alt="">
                    <span class="grey">Remember me</span>
                </div>
                <div>
                    <span class="blue">Forgot Password?</span>
                </div>

            </div>
            <div class="item btn">
               <input type="submit" value="Login"></a> 
            </div>
            <div class="item">
                <a href="/register" class="grey">Don't have an Account?</span><span class="blue">Sign Up Now</a>
            </div>

        </form>



</body>

</html>