<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/css/registration.css">
</head>

<body>
    <div class="container">
        

        <form action="/register" class="form-box" method="POST">
            <div class="item logo">
                <h1>Coffee Heaven</h1>
                <img src="./images/logo.png" alt="">
             </div>
            <div class="register">
                <h1>Registration</h1>
            </div>

            <div class="record">
                <div class="grey item inputs-field">
                    <img src="./images/user.png" alt="No image found">
                    <input class="info" type="name" id="name" name="username" placeholder="Enter your name ">
                </div>
                <div class="grey item inputs-field">
                    <img src="./images/Email.png" alt="No image found">
                    <input class="info" type="email" id="email" name="email" placeholder=' Write your Email'>
                </div>
                <div class="grey item inputs-field">
                    <img src="./images/lock.png" alt="No image found">
                    <input class="info" type="password" id="password" name="password" placeholder="Create  Password ">
                </div>
                <div class="grey item  inputs-field">
                    <img src="./images/lock.png" alt="No image found">
                    <input class="info" type="password" id="confirm_password" name="confirm_password" placeholder="Confirm a Password ">
                    <img src="./images/view.png" alt="Image not found">
                </div>
            </div>
            <div class="item">
                <img src="./images/blank-check-box.png" alt="">
                <span>I accepts terms and conditions</span>
            </div>
            <div class="btn item">
                <button>Register</button>
            </div>
            <div class="item">
                <a href="/login" class="grey item ">Already have an Account?</span><span class="blue">Login Now</a>
            </div>

        </form>



</body>

</html>